# Configuration file

fluids {
    S:"fluid.atomicscience:steam.cardrank"=
    S:"fluid.atomicscience:steam.grammar"=
    S:"fluid.atomicscience:steam.instability.factor_accessibility"=
    S:"fluid.atomicscience:steam.instability.factor_flat"=
    S:fluid.bacterialsludge.cardrank=
    S:fluid.bacterialsludge.grammar=
    S:fluid.bacterialsludge.instability.factor_accessibility=
    S:fluid.bacterialsludge.instability.factor_flat=
    S:fluid.bacterialsludge.seabanned=
    S:fluid.bioethanol.cardrank=
    S:fluid.bioethanol.grammar=
    S:fluid.bioethanol.instability.factor_accessibility=
    S:fluid.bioethanol.instability.factor_flat=
    S:fluid.bioethanol.seabanned=
    S:fluid.biomass.cardrank=
    S:fluid.biomass.grammar=
    S:fluid.biomass.instability.factor_accessibility=
    S:fluid.biomass.instability.factor_flat=
    S:fluid.biomass.seabanned=
    S:fluid.bottledanimals.bamilk.cardrank=
    S:fluid.bottledanimals.bamilk.grammar=
    S:fluid.bottledanimals.bamilk.instability.factor_accessibility=
    S:fluid.bottledanimals.bamilk.instability.factor_flat=
    S:fluid.bottledanimals.bamilk.seabanned=
    S:fluid.bottledanimals.food.cardrank=
    S:fluid.bottledanimals.food.grammar=
    S:fluid.bottledanimals.food.instability.factor_accessibility=
    S:fluid.bottledanimals.food.instability.factor_flat=
    S:fluid.bottledanimals.food.seabanned=
    S:fluid.cloud_seed.cardrank=
    S:fluid.cloud_seed.grammar=
    S:fluid.cloud_seed.instability.factor_accessibility=
    S:fluid.cloud_seed.instability.factor_flat=
    S:fluid.cloud_seed.seabanned=
    S:fluid.cloud_seed_concentrated.cardrank=
    S:fluid.cloud_seed_concentrated.grammar=
    S:fluid.cloud_seed_concentrated.instability.factor_accessibility=
    S:fluid.cloud_seed_concentrated.instability.factor_flat=
    S:fluid.cloud_seed_concentrated.seabanned=
    S:fluid.creosote.cardrank=
    S:fluid.creosote.grammar=
    S:fluid.creosote.instability.factor_accessibility=
    S:fluid.creosote.instability.factor_flat=
    S:fluid.creosote.seabanned=
    S:fluid.fire_water.cardrank=
    S:fluid.fire_water.grammar=
    S:fluid.fire_water.instability.factor_accessibility=
    S:fluid.fire_water.instability.factor_flat=
    S:fluid.fire_water.seabanned=
    S:fluid.for.honey.cardrank=
    S:fluid.for.honey.grammar=
    S:fluid.for.honey.instability.factor_accessibility=
    S:fluid.for.honey.instability.factor_flat=
    S:fluid.for.honey.seabanned=
    S:fluid.fuelgc.cardrank=
    S:fluid.fuelgc.grammar=
    S:fluid.fuelgc.instability.factor_accessibility=
    S:fluid.fuelgc.instability.factor_flat=
    S:fluid.fuelgc.seabanned=
    S:fluid.gendustry.liquiddna.cardrank=
    S:fluid.gendustry.liquiddna.grammar=
    S:fluid.gendustry.liquiddna.instability.factor_accessibility=
    S:fluid.gendustry.liquiddna.instability.factor_flat=
    S:fluid.gendustry.liquiddna.seabanned=
    S:fluid.gendustry.mutagen.cardrank=
    S:fluid.gendustry.mutagen.grammar=
    S:fluid.gendustry.mutagen.instability.factor_accessibility=
    S:fluid.gendustry.mutagen.instability.factor_flat=
    S:fluid.gendustry.mutagen.seabanned=
    S:fluid.gendustry.protein.cardrank=
    S:fluid.gendustry.protein.grammar=
    S:fluid.gendustry.protein.instability.factor_accessibility=
    S:fluid.gendustry.protein.instability.factor_flat=
    S:fluid.gendustry.protein.seabanned=
    S:fluid.glass.cardrank=
    S:fluid.glass.grammar=
    S:fluid.glass.instability.factor_accessibility=
    S:fluid.glass.instability.factor_flat=
    S:fluid.glass.seabanned=
    S:fluid.hootch.cardrank=
    S:fluid.hootch.grammar=
    S:fluid.hootch.instability.factor_accessibility=
    S:fluid.hootch.instability.factor_flat=
    S:fluid.hootch.seabanned=
    S:fluid.ice.cardrank=
    S:fluid.ice.grammar=
    S:fluid.ice.instability.factor_accessibility=
    S:fluid.ice.instability.factor_flat=
    S:fluid.ice.seabanned=
    S:fluid.juice.cardrank=
    S:fluid.juice.grammar=
    S:fluid.juice.instability.factor_accessibility=
    S:fluid.juice.instability.factor_flat=
    S:fluid.juice.seabanned=
    S:fluid.liquid_sunshine.cardrank=
    S:fluid.liquid_sunshine.grammar=
    S:fluid.liquid_sunshine.instability.factor_accessibility=
    S:fluid.liquid_sunshine.instability.factor_flat=
    S:fluid.liquid_sunshine.seabanned=
    S:fluid.matter_plasma.cardrank=
    S:fluid.matter_plasma.grammar=
    S:fluid.matter_plasma.instability.factor_accessibility=
    S:fluid.matter_plasma.instability.factor_flat=
    S:fluid.matter_plasma.seabanned=
    S:fluid.mead.cardrank=
    S:fluid.mead.grammar=
    S:fluid.mead.instability.factor_accessibility=
    S:fluid.mead.instability.factor_flat=
    S:fluid.mead.seabanned=
    S:fluid.milk.cardrank=
    S:fluid.milk.grammar=
    S:fluid.milk.instability.factor_accessibility=
    S:fluid.milk.instability.factor_flat=
    S:fluid.milk.seabanned=
    S:fluid.molten_tritanium.cardrank=
    S:fluid.molten_tritanium.grammar=
    S:fluid.molten_tritanium.instability.factor_accessibility=
    S:fluid.molten_tritanium.instability.factor_flat=
    S:fluid.molten_tritanium.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.nutrient_distillation.cardrank=
    S:fluid.nutrient_distillation.grammar=
    S:fluid.nutrient_distillation.instability.factor_accessibility=
    S:fluid.nutrient_distillation.instability.factor_flat=
    S:fluid.nutrient_distillation.seabanned=
    S:fluid.oilgc.cardrank=
    S:fluid.oilgc.grammar=
    S:fluid.oilgc.instability.factor_accessibility=
    S:fluid.oilgc.instability.factor_flat=
    S:fluid.oilgc.seabanned=
    S:fluid.rocket_fuel.cardrank=
    S:fluid.rocket_fuel.grammar=
    S:fluid.rocket_fuel.instability.factor_accessibility=
    S:fluid.rocket_fuel.instability.factor_flat=
    S:fluid.rocket_fuel.seabanned=
    S:fluid.seedoil.cardrank=
    S:fluid.seedoil.grammar=
    S:fluid.seedoil.instability.factor_accessibility=
    S:fluid.seedoil.instability.factor_flat=
    S:fluid.seedoil.seabanned=
    S:fluid.short.mead.cardrank=
    S:fluid.short.mead.grammar=
    S:fluid.short.mead.instability.factor_accessibility=
    S:fluid.short.mead.instability.factor_flat=
    S:fluid.short.mead.seabanned=
    S:ic2.fluidbiogas.cardrank=
    S:ic2.fluidbiogas.grammar=
    S:ic2.fluidbiogas.instability.factor_accessibility=
    S:ic2.fluidbiogas.instability.factor_flat=
    S:ic2.fluidbiomass.cardrank=
    S:ic2.fluidbiomass.grammar=
    S:ic2.fluidbiomass.instability.factor_accessibility=
    S:ic2.fluidbiomass.instability.factor_flat=
    S:ic2.fluidbiomass.seabanned=
    S:ic2.fluidconstructionfoam.cardrank=
    S:ic2.fluidconstructionfoam.grammar=
    S:ic2.fluidconstructionfoam.instability.factor_accessibility=
    S:ic2.fluidconstructionfoam.instability.factor_flat=
    S:ic2.fluidconstructionfoam.seabanned=
    S:ic2.fluidcoolant.cardrank=
    S:ic2.fluidcoolant.grammar=
    S:ic2.fluidcoolant.instability.factor_accessibility=
    S:ic2.fluidcoolant.instability.factor_flat=
    S:ic2.fluidcoolant.seabanned=
    S:ic2.fluiddistilledwater.cardrank=
    S:ic2.fluiddistilledwater.grammar=
    S:ic2.fluiddistilledwater.instability.factor_accessibility=
    S:ic2.fluiddistilledwater.instability.factor_flat=
    S:ic2.fluiddistilledwater.seabanned=
    S:ic2.fluidhotcoolant.cardrank=
    S:ic2.fluidhotcoolant.grammar=
    S:ic2.fluidhotcoolant.instability.factor_accessibility=
    S:ic2.fluidhotcoolant.instability.factor_flat=
    S:ic2.fluidhotcoolant.seabanned=
    S:ic2.fluidhotwater.cardrank=
    S:ic2.fluidhotwater.grammar=
    S:ic2.fluidhotwater.instability.factor_accessibility=
    S:ic2.fluidhotwater.instability.factor_flat=
    S:ic2.fluidhotwater.seabanned=
    S:ic2.fluidpahoehoelava.cardrank=
    S:ic2.fluidpahoehoelava.grammar=
    S:ic2.fluidpahoehoelava.instability.factor_accessibility=
    S:ic2.fluidpahoehoelava.instability.factor_flat=
    S:ic2.fluidpahoehoelava.seabanned=
    S:ic2.fluidsteam.cardrank=
    S:ic2.fluidsteam.grammar=
    S:ic2.fluidsteam.instability.factor_accessibility=
    S:ic2.fluidsteam.instability.factor_flat=
    S:ic2.fluidsuperheatedsteam.cardrank=
    S:ic2.fluidsuperheatedsteam.grammar=
    S:ic2.fluidsuperheatedsteam.instability.factor_accessibility=
    S:ic2.fluidsuperheatedsteam.instability.factor_flat=
    S:ic2.fluiduumatter.cardrank=
    S:ic2.fluiduumatter.grammar=
    S:ic2.fluiduumatter.instability.factor_accessibility=
    S:ic2.fluiduumatter.instability.factor_flat=
    S:ic2.fluiduumatter.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


